// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}
.hidden {
    display:none;
}
// .show {
//     display:block;
// }

#map {
  width: 500px;
  height: 500px;
}
@import "nav_bar";
@import "footer";