// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.hidden {
    display:none;
}
// .show {
//     display:block;
// }

#map {
  width: 500px;
  height: 500px;
}
