

footer {
  border-top: 5px solid $primaryColor;
  background-color: white;
}


.wrap-footer {
  background-color: white;
  margin: 0 auto;
  h5{
      color: $primaryColor;
      text-transform: uppercase;
  }
  ul{
   list-style: none;

   li{
       padding-top: 10px;
       font-weight: bold;
       font-style: italic;
   }
   a{
       color: black;
       text-decoration: none;
       &:hover{
           color: saturation($color:#222222);
       }
     }
  }
}
.brand{
   font-size: 40px;
}
.brand-footer {
  ul li {
    display: inline;
  }
}
.icons:hover {
  color: $primaryColor;
}

@media screen and (max-width: 1000px) {
  .brand-footer{
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .brand-footer{
    display: none;
  }
  .wrap-footer div {
    width: 100%;
  }
}
