
.navbar-brand {

    span{
        color: $primaryColor;

    }
}
#host {
    background-color: $primaryColor;
    box-shadow: 5px 10px #888888;
    border: 1px solid transparent;
    box-shadow: $boxShadow;
    border-radius: 10px;
    color: white;
}
#login {
    background-color:whitesmoke;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: $boxShadow;
}

input::placeholder {
  padding-left: 50px;
}


#host:hover {
  background: pink;
  color: black;
}
