
.home {
  @include button;
  }
  .appartament {
    text-align: center;
    .img_width {
      max-width: 100%;
      width: 50%;
      height: auto;
    }
  }

.border-right {
  border-right: 1px solid grey;
}

.flex_option {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.option li {
  display: inline;
  margin-left: 10px;
}

h5 {
  @include h5;
}

.features_list li{
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
  @include button;
}

.graphic_style {
  width: 350px;
  height:200px;
  border-radius:8px;
  word-break:break-all
}


@media screen and (max-width: 767px) {
  .graphic_style{
    width: 220px;
  }
  .wrap-footer div {
    width: 100%;
  }
  h1 {
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  .brand-footer{
    display: none;
  }
}
