.search_bar {
  width: 100%;
  padding: 10px;
  .search_width {
    width: 30%;
    height: 60px;
    border-radius: 14px;
    border: 2px solid lightgrey;
    box-shadow: $boxShadow;
    &:hover {
      border: 2px solid black;
    }
  }
  .btn {
    @include button;
    height: 60px;
    width: 8%;
    border-radius: 14px;
  }
}


#carouselExampleIndicators {
  width: 90%;
  margin: 0 auto;
  background-color: lightgrey;
}

.height_img {
  height: 77vh;
}

.width_card {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}


.card_style{
  color: black;
  &:hover {
    text-decoration: none;
    color: $primaryColor;
    border: solid 2px $primaryColor;
    border-radius: 4px;
  }
  .card {
    overflow: hidden;

  }
}
